{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Gestion des Employes</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'script.js' %}"></script>
  
  <body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Gestion  des <b>employés</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal">
							<i class="material-icons">&#xE147;</i> <span>Ajoutez un Employee</span></a>

						<a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal">
							<i class="material-icons">&#xE15C;</i> <span>Supprimer</span></a>						
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
						<th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
						</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Email</th>
						<th>Address</th>
                        <th>Téléphone</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
					{% for employe in employes %}
                    <tr>
						<td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" value="1">
								<label for="checkbox1"></label>
							</span>
						</td>
                        <td>{{employe.nom}}</td>
                        <td>{{employe.prenom}}</td>
                        <td>{{employe.email}}</td>
						<td>{{employe.adresse}}</td>
                        <td>{{employe.telephone}}</td>
                        <td>
                            <a href="#editEmployeeModal{{employe.id}}" class="edit" data-toggle="modal">
								<i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>

                            <a href="#deleteEmployeeModal{{employe.id}}" class="delete" data-toggle="modal">
								<i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>

					<!-- Edit Modal HTML formulaire ajout -->
	<div id="addEmployeeModal{{employe.id}}" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="post" action="{% url 'employe_edit' employe.id %}">
					{% csrf_token %}
					<div class="modal-header">						
						<h4 class="modal-title">Modifier un employé</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>Nom</label>
							<input type="text" name="nom" value="{{employe.nom}}" class="form-control" required>
						</div>
                        	<div class="form-group">
							<label>Prenom</label>
							<input type="text" name="prenom" value="{{employe.prnom}}" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="email" name="email" value="{{employe.email}}" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Adresse</label>
							<textarea class="form-control" name="adresse" value="{{employe.adresse}}" required></textarea>
						</div>
						<div class="form-group">
							<label>Téléphone</label>
							<input type="text" name="telephone" value="{{employe.telephone}}" class="form-control" required>
						</div>					
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Retour">
						<input type="submit" class="btn btn-success" value="Modifier">
					</div>
				</form>
			</div>
		</div>
	</div>


					<!-- Delete Modal HTML -->
	<div id="deleteEmployeeModal{{employe.id}}" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="Post" action="{% url 'employe_delete' employe.id %}">
					{% csrf_token %}
					<div class="modal-header">						
						<h4 class="modal-title">Supprimer un Employee</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Souhaitez-vous vraiment supprimer cet employé ?</p>
						<p class="text-warning"><small>Une fois confirmée, cette action ne pourra plus être annulée</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Retour">
						<input type="submit" class="btn btn-danger" value="Supprimer">
					</div>
				</form>
			</div>
		</div>
	</div>
					{% endfor %}
                </tbody>
            </table>
			
			<!-- Pagination -->
			 <!-- Conteneur principal de la pagination -->
<div class="clearfix">

    <!-- Texte indiquant les éléments affichés sur cette page -->
    <div class="hint-text">
        Affichage de
        <!-- Numéro du premier employé affiché sur la page -->
        <b>{{ page_obj.start_index }}</b>
        à
        <!-- Numéro du dernier employé affiché sur la page -->
        <b>{{ page_obj.end_index }}</b>
        sur
        <!-- Nombre total d'employés dans la base -->
        <b>{{ page_obj.paginator.count }}</b>
        employés
    </div>

    <!-- Liste des boutons de pagination -->
    <ul class="pagination">

        <!-- BOUTON "PRÉCÉDENT" -->
        {% if page_obj.has_previous %}
            <!-- Si une page précédente existe  redirige vers la page-->
            <li class="page-item">
                <!-- Lien vers la page précédente -->
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Précédent</a>
            </li>
        {% else %}
            <!-- Si il y a aucune page précédente, le bouton Précédent est désactivé -->
            <li class="page-item disabled">
                <span class="page-link">Précédent</span>
            </li>
        {% endif %}

        <!-- BOUTONS DES NUMÉROS DE PAGES -->
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <!-- Si c'est la page actuelle -->
                <li class="page-item active">
                    <span class="page-link">{{ num }}</span>
                </li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <!-- Affiche seulement les pages proches de la page actuelle
                     (2 avant et 2 après) pour éviter d'avoir toutes les pages -->
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        <!-- BOUTON "SUIVANT" -->
        {% if page_obj.has_next %}
            <!-- Si une page suivante existe redirige vers la page -->
            <li class="page-item">
                <!-- Lien vers la page suivante -->
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Suivant</a>
            </li>
        {% else %}
            <!-- Si il n'y a aucune page suivante, le bouton suivante est désactivé -->
            <li class="page-item disabled">
                <span class="page-link">Suivant</span>
            </li>
        {% endif %}

    </ul>
</div>

			
        </div>
    </div>

	<!-- Edit Modal HTML formulaire ajout -->
	<div id="addEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="post" action="{% url 'employe_ajout' %}">
					{% csrf_token %}
					<div class="modal-header">						
						<h4 class="modal-title">Ajout Employé</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>Nom</label>
							<input type="text" name="nom" class="form-control" required>
						</div>
                        	<div class="form-group">
							<label>Prenom</label>
							<input type="text" name="prenom" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="email" name="email" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Adresse</label>
							<textarea class="form-control" name="adresse" required></textarea>
						</div>
						<div class="form-group">
							<label>Téléphone</label>
							<input type="text" name="telephone" class="form-control" required>
						</div>					
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Retour">
						<input type="submit" class="btn btn-success" value="Enregistrer">
					</div>
				</form>
			</div>
		</div>
	</div>


	
</body>
</html>